<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">	
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css"/>
		<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
        <title>My City</title>    
    </head>
    <body>
        <div class="app">		
			<div ng-app="myApp" ng-controller="myCtrl">
					<div class="col-sm-12" align="center">
						<button type="button" class="btn btn-primary" ng-click="getScore()">Your Score</button>
						<a href="{{domain}}/index"> <button type="button" class="btn btn-primary">Issue Map</button></a>
						<a href="help.html"> <button type="button" class="btn btn-primary">Help</button></a>
						<a href="register.html"> <button type="button" class="btn btn-primary">Register</button></a>
						<h4>Be a smart city volunteer, Track civic issues here for your city.</h4><hr>
						<div class="table">
						<table>
						<tbody align="center">
						<tr><td>
						<button id = "garbagenotcollected" ng-click="getPosition('garbagenotcollected')" class="btn btn-link"><img src="img/garbagenotcollected.png"></button><h5 style="color:black">Garbage</br> Not Collected</h5><hr>					
						</td>
						<td>
						<button id = "noroadlights" ng-click="getPosition('noroadlights')" class="btn btn-link"><img src="img/noroadlights.png"></button><h5 style="color:black">No </br> Road Lights</h5><hr>					
						</td></tr>						
						<tr><td>
						<button id = "trafficlightdown" ng-click="getPosition('trafficlightdown')" class="btn btn-link"><img src="img/trafficlightdown.png"></button><h5 style="color:black">Traffic Lights</br> Down</h5><hr>					
						</td>
						<td>
						<button id = "damagedroad" ng-click="getPosition('damagedroad')" class="btn btn-link"><img src="img/damagedroad.png"></button><h5 style="color:black">Road </br> Damaged</h5><hr>					
						</td></tr>						
						<tr><td>
						<button id = "drainoverflow" ng-click="getPosition('drainoverflow')" class="btn btn-link"><img src="img/drainoverflow.png"></button><h5 style="color:black">Drain</br> Overflowing</h5><hr>					
						</td>
						<td>
						<button id = "waterwastage" ng-click="getPosition('waterwastage')" class="btn btn-link"><img src="img/waterwastage.png"></button><h5 style="color:black">Water</br> Wastage</h5><hr>					
						</td></tr>						
						<tr><td>
						<button id = "dogmenace" ng-click="getPosition('dogmenace')" class="btn btn-link"><img src="img/dogmenace.png"></button><h5 style="color:black">Dog </br> Menace</h5><hr>					
						</td>
						<td>
						<button id = "cattlemenace" ng-click="getPosition('cattlemenace')" class="btn btn-link"><img src="img/cattlemenace.png"></button><h5 style="color:black">Cattle</br> Menace</h5><hr>					
						</td></tr>						
						<tr><td>
						<button id = "beggarmenace" ng-click="getPosition('beggarmenace')" class="btn btn-link"><img src="img/beggarmenace.png"></button><h5 style="color:black">Beggar</br> Menace</h5><hr>					
						</td>
						<td>
						<button id = "eveteasing" ng-click="getPosition('eveteasing')" class="btn btn-link"><img src="img/eveteasing.png"></button><h5 style="color:black">Eve Teasing</br> Menace</h5><hr>					
						</td></tr>
						<tr><td>
						<button id = "opendefecation" ng-click="getPosition('opendefecation')" class="btn btn-link"><img src="img/opendefecation.png"></button><h5 style="color:black">Open</br> Defecation</h5><hr>					
						</td>
						<td>
						<button id = "openurination" ng-click="getPosition('openurination')" class="btn btn-link"><img src="img/openurination.png"></button><h5 style="color:black">Open</br>Urination</h5><hr>					
						</td></tr>
						<tr><td>
						<button id = "airpollution" ng-click="getPosition('airpollution')" class="btn btn-link"><img src="img/airpollution.png"></button><h5 style="color:black">Air</br> Pollution</h5><hr>					
						</td>
						<td>
						<button id = "parkingviolation" ng-click="getPosition('parkingviolation')" class="btn btn-link"><img src="img/parkingviolation.png"></button><h5 style="color:black">Parking</br> Violation</h5><hr>					
						</td></tr>
						</tbody></table>
						</div>
						</div>
			</div>
		</div>

        <script type="text/javascript" src="cordova.js"></script>
    </body>	
	</html>
